body {
    background-color: black;
    margin: 0;
}

.Sonic {
position: absolute;
 bottom: 0;
 background-image: url(img/sonic.png);
 width: 100px; /*largura*/
 height: 100px; /*altura*/

}

.motobug {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(img/motobug.png);
	 

}

.game-over {
   position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  /*background-image: url(img/fundo.png);*/
   
  /*text-align: center;
  color: #666;
  margin: 50px 0;
  font-family: arial;*/
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }

}
.background {
  position: absolute;
  bottom: 0px;
  background-image: url(img/background.jpg);
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 100%;
}